{% extends 'form.html' %}

{% block output %}

   {% if show %}
      <section id='result'>
      
         <article class="mt-2">
            {% if result['raw_output'] %}
               <label class='lead'>Changes: </label>
               {% for data in result['raw_output'] %}
                  {% autoescape false %}
                     <div>{{ data }}</div>
                  {% endautoescape %}
               {% endfor %}
            {% else %}
               <label class='lead d-block'>No change</label>
            {% endif %}
         </article>

            <article class="form-group mt-3">
               <label class="lead">Generated output: </label>
               {% autoescape false %}
                  <code class="form-control">{{ result['inner_HTML'] }}</code>
               {% endautoescape %}
            </article>
      
      </section>
   {% endif %}

{% endblock %}
