@import url('https://fonts.googleapis.com/css?family=Baloo+Paaji+2:600|Montserrat&display=swap');

body, html {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, button, .lead {
    font-family: 'Baloo Paaji 2', cursive;
}

textarea, #keywords, #input-web {
    width: 100%;
}

.highlight {
    background: var(--primary);
    color: var(--dark) !important;
}
.highlight a {
    color: var(--dark) !important;
}

main {
    min-height: 80vh;
}

.form-control {
    height: auto !important;
}

input[type='file'], a[data-toggle='tooltip']{
    cursor: pointer;
    outline: none;
    user-select: none;
}
a[data-toggle='tooltip']:hover {
    text-decoration: none;
}
#cta-web{
    cursor: pointer;
}